In [20]:
import pandas as pd

In [21]:
act = pd.read_csv('datasets/finished/ACT_School.csv')
nsw_ng = pd.read_csv('datasets/finished/NSW_nongov.csv')
nsw_g = pd.read_csv('datasets/finished/NSW_Public.csv')
queens = pd.read_csv('datasets/finished/Queensland.csv')
sa = pd.read_csv('datasets/finished/SA_School.csv')
vic = pd.read_csv('datasets/finished/Victoria.csv')

In [22]:
AUS_School = pd.concat([act, nsw_ng, nsw_g, queens, sa, vic])
AUS_School['id'] = range(1, len(AUS_School) + 1)

In [23]:
AUS_School.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9780 entries, 0 to 2247
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              9780 non-null   int32
 1   school_name     9780 non-null   object
 2   school_address  9779 non-null   object
 3   suburb          9780 non-null   object
 4   postcode        9780 non-null   int64
 5   sector          9780 non-null   object
 6   school_type     9780 non-null   object
 7   school_lat      9780 non-null   float64
 8   school_lon      9780 non-null   float64
dtypes: float64(2), int32(1), int64(1), object(5)
memory usage: 725.9+ KB

In [24]:
AUS_School.head(2)

,id,school_name,school_address,suburb,postcode,sector,school_type,school_lat,school_lon
0,1,Franklin Early Childhood School,Oodgeroo Avenue,Franklin,2913,Government,Early Childhood School,-35.200461,149.141327
1,2,Isabella Plains Early Childhood School,Ellerston Avenue,Isabella Plains,2905,Government,Early Childhood School,-35.428716,149.089497