In [1]:
import pandas as pd
import datetime
import numpy as np
import re

In [2]:
def date_convert(data):
    if data == 'Jan' or data == 'Feb' or data == 'Mar':
        return 'Q1'
    elif data == 'Apr' or data == 'May' or data == 'Jun':
        return 'Q2'
    elif data == 'Jul' or data == 'Aug' or data == 'Sep':
        return 'Q3'
    else:
        return 'Q4'

In [3]:
file = pd.ExcelFile('Northern Territory_data.xlsx')
file.sheet_names

['Sep Q 2011 - Dec Q 2013',
 'Sep 2013 - Nov 2015',
 'Nov 2015 - Jan 2018',
 '2011-2018']

In [4]:
nt = file.parse(sheet_name='2011-2018', header=None)

In [5]:
# nt.head(2)

In [6]:
for i in range(len(nt.columns)):
    for j in range(len(nt)):
        if type(nt[nt.columns[i]].values[j]) == datetime.datetime:
            if nt[nt.columns[i]].values[j].month < 4:
                nt[nt.columns[i]].values[j] = str(nt[nt.columns[i]].values[j]).split(' ')[0].split('-', 1)[0] + ' Q1'
            elif nt[nt.columns[i]].values[j].month < 7:
                nt[nt.columns[i]].values[j] = str(nt[nt.columns[i]].values[j]).split(' ')[0].split('-', 1)[0] + ' Q2'
            elif nt[nt.columns[i]].values[j].month < 10:
                nt[nt.columns[i]].values[j] = str(nt[nt.columns[i]].values[j]).split(' ')[0].split('-', 1)[0] + ' Q3'
            else:
                nt[nt.columns[i]].values[j] = str(nt[nt.columns[i]].values[j]).split(' ')[0].split('-', 1)[0] + ' Q4'
        elif type(nt[nt.columns[i]].values[j]) == str:
            if len(nt[nt.columns[i]].values[j]) == 6 and len(nt[nt.columns[i]].values[j].split('-')) == 2:
                nt[nt.columns[i]].values[j] = '20' + nt[nt.columns[i]].values[j].split('-')[1] + ' ' + date_convert(nt[nt.columns[i]].values[j].split('-')[0])

In [7]:
column_name_list = list(nt.loc[0,:])
nt = pd.DataFrame(
    np.row_stack([nt.columns, nt.values]),
    columns=column_name_list
)

In [8]:
nt = nt.drop(index=[0, 1]).reset_index().drop(columns=['index'])

In [9]:
nt.fillna('null', inplace=True)
nt.drop(nt[nt['Number of offences'] == 'null'].index, inplace=True)

In [10]:
nt.drop(nt[nt['Number of offences'] == 'null'].index, inplace=True)

In [11]:
nt.rename(columns={'Number of offences':'subcategory'}, inplace=True)

In [12]:
nt['category'] = nt['category'].apply(lambda x:x.split(' ', 1)[1])

In [13]:
nt['subcategory'] = nt['subcategory'].apply(lambda x:x.strip().split(' ', 1)[1] if ',' not in x else x.strip())

In [14]:
nt.set_index(['district', 'category', 'subcategory'], inplace=True)

In [15]:
nt = nt.stack().to_frame()

In [16]:
nt.index.names = ['district', 'category', 'subcategory', 'year and quarter']

In [17]:
nt = nt.groupby(['district', 'category', 'subcategory', 'year and quarter']).sum()

In [18]:
nt.rename(columns={0:'records'}, inplace=True)

In [19]:
nt['suburb'] = ''
nt['postcode'] = ''
nt['state_code'] = 'NT'

In [20]:
nt = nt.reset_index()

In [21]:
nt['year and quarter']

0       2011 Q3
1       2011 Q4
2       2012 Q1
3       2012 Q2
4       2012 Q3
         ...
4747    2017 Q1
4748    2017 Q2
4749    2017 Q3
4750    2017 Q4
4751    2018 Q1
Name: year and quarter, Length: 4752, dtype: object

In [22]:
nt['year'] = nt['year and quarter'].str.split(' ').str[0]
nt['quarter'] = nt['year and quarter'].str.split(' ').str[1]

nt = nt.drop(columns=['year and quarter'])

In [23]:
nt.to_excel('finished/NT.xlsx', index=False)