In [ ]:
import pandas as pd
import numpy as np

## clean AUS_Subcitydistrictstate_data

In [ ]:
data = pd.read_excel('AUS_SubCityDistrictState_Data.xlsx')
data

In [ ]:
data[data.duplicated()].count()

In [ ]:
data.info()

In [ ]:
tmp = data['postcode'].astype(str)
tmp

In [ ]:
for i in range(len(tmp)):
    if len(tmp[i]) < 4:
        tmp[i] = '0' + tmp[i]
tmp

In [ ]:
data['postcode'] = tmp

In [ ]:
data.to_csv('AUS_SubCity_Data.csv', index=False)

In [ ]:
data

## clean NSW_PropertyMedianValue

In [ ]:
data_med_value = pd.read_csv('NSW_PropertyMedainValue.csv', header=1)
data_med_value

In [ ]:
data_med_value.info()

In [ ]:
data_med_value = data_med_value.drop(columns=['District', 'Location', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11'])

In [ ]:
data_med_value

In [ ]:
data_med_value['Property_Median_Value'] = data_med_value['Property_Median_Value'].astype(str)

In [ ]:
data_med_value['Property_Median_Value'] = data_med_value['Property_Median_Value'].map(lambda x:x.lstrip('$')).map(lambda x:x.replace(',', '')).map(lambda x:x.replace('.00', '')).map(lambda x:x.replace('nan', '0'))

In [ ]:
data_med_value['Property_Median_Value'] = data_med_value['Property_Median_Value'].map(lambda x:x)

In [ ]:
data_med_value['Property_Median_Value'] = data_med_value['Property_Median_Value'].astype('int64')

In [ ]:
mean = data_med_value['Property_Median_Value'].mean()

In [ ]:
for i in range(len(data_med_value['Property_Median_Value'])):
    if data_med_value['Property_Median_Value'][i] == 0:
        data_med_value['Property_Median_Value'][i] = mean

In [ ]:
data_med_value['Property_Median_Value']

In [ ]:
data_med_value['State'] = data_med_value['State'].str.title().map(lambda x:x.rstrip('_Nsw'))

In [ ]:
cols = list(data_med_value)
cols.insert(1, 'state_code')

In [ ]:
cols

In [ ]:
data_med_value = data_med_value.reindex(columns=cols, fill_value='NSW')
data_med_value

In [ ]:
data_med_value['City/Town'].isna().value_counts()

In [ ]:
data_med_value.dropna(inplace=True)

In [ ]:
data_med_value['City/Town'].isna().value_counts()

In [ ]:
data_med_value['Id'] = range(1, len(data_med_value) + 1)

In [ ]:
data_med_value

In [ ]:
data_med_value = data_med_value[['Id', 'State', 'state_code', 'City/Town', 'Suburb', 'Postcode', 'Property_Median_Value', 'Updated_Year', 'Updated_Month']]

In [ ]:
data_med_value.to_csv('NSW_Property_Price.csv', index=False)

## clean NSW_Station_Sydney

In [ ]:
data_station = pd.read_csv('NSW_StationEntrances_Sydney 2018.csv')
data_station.info()

In [ ]:
data_station.head()

In [ ]:
data_station.duplicated().value_counts()

In [ ]:
data_station['Train_Station'].value_counts()

In [ ]:
data_station['Entrance_Type'].value_counts()

In [ ]:
data_station['Street_Type'].value_counts()

In [ ]:
data_station['Street_Type'].isna().value_counts()

In [ ]:
data_station['Exit_Number'].value_counts()

In [ ]:
data_station.insert(0, 'stop_id', range(len(data_station)))

data_station.head()

In [ ]:
data_station.insert(1, 'state_code', 'NSW')

In [ ]:
data_station.head()

In [ ]:
data_station.to_csv('NSW_Station.csv', index=False)

## clean NSW_Public_Schools

In [ ]:
data_school = pd.read_csv('NSW-Public-Schools-Master-Dataset-07032017.csv')

In [ ]:
data_school.info()

In [ ]:
data_school[['school_code', 'AgeID']] = data_school[['school_code', 'AgeID']].astype(str)

In [ ]:
data_school['date_1st_teacher']

In [ ]:
data_school[data_school['postcode'].isna().values == True]

In [ ]:
data_school['postcode'].fillna(2305, inplace=True)

In [ ]:
data_school['postcode'] = data_school['postcode'].astype(int).astype(str)

In [ ]:
data_school.head()

In [ ]:
data_school[data_school['town_suburb'].isna().values == True]

In [ ]:
data_school['town_suburb'].iloc[1663] = 'New Lambton Heights'
data_school['town_suburb'].iloc[1767] = 'Regentville'

In [ ]:
data_school['date_1st_teacher'] = pd.to_datetime(data_school['date_1st_teacher'])

In [ ]:
data_school['date_1st_teacher']

In [ ]:
data_school['student_number'].loc[data_school['student_number'] == 'np'] = np.NaN

In [ ]:
data_school['indigenous_pct'].loc[data_school['indigenous_pct'] == 'np'] = np.NaN
data_school['lbote_pct'].loc[data_school['lbote_pct'] == 'np'] = np.NaN

In [ ]:
data_school.info()

In [ ]:
data_school.to_csv('NSW_Schools_3.csv', index=False)

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
data_school = data_school.drop(['facs_district'], axis=1)

In [ ]:
data_school['school_name'] = data_school['school_name'].map(lambda x:x.replace(',', ' '))

In [ ]:
data_school['school_name'].isna().value_counts()

In [ ]:
data_school['school_name']

In [ ]:
test = pd.read_csv('NSW_Schools_3.csv')
test

In [ ]:
df1 = pd.read_csv('AUS_SubCity_Data.csv')
df2 = pd.read_csv('NSW_Station.csv')

In [ ]:
df2

In [45]:
# property = pd.read_csv('NSW_Property_Price.csv')
station = pd.read_csv('NSW_Station.csv')
aus_sub = pd.read_csv('AUS_SubCity_Data.csv')

station['postcode'] = ''
station

,stop_id,state_code,Train_Station,Street_Name,Street_Type,Entrance_Type,LAT,LONG,Exit_Number,postcode
0,0,NSW,Aberdeen,Macqueen,St,Stairs,-32.166900,150.891975,NaN,
1,1,NSW,Aberdeen,Macqueen,St,Ramp,-32.166886,150.891957,NaN,
2,2,NSW,Adamstown,Park,Ave,Path,-32.933706,151.720452,NaN,
3,3,NSW,Adamstown,St James,Rd,Stairs,-32.933414,151.720363,NaN,
4,4,NSW,Adamstown,St James,Rd,Ramp,-32.933402,151.720347,NaN,
...,...,...,...,...,...,...,...,...,...,...
1005,1005,NSW,Yennora,Nelson,Rd,Stairs,-33.864621,150.970946,NaN,
1006,1006,NSW,Yennora,Railway,St,Stairs,-33.864988,150.970808,NaN,
1007,1007,NSW,Yennora,Railway,St,Ramp,-33.865029,150.970716,NaN,
1008,1008,NSW,Yerrinbool,Old Hume,Hwy,Path,-34.371593,150.543448,NaN,
1009,1009,NSW,Zig Zag,Bells,Rd,Stairs,-33.471842,150.202119,NaN,

In [ ]:
aus_sub.head(1)

In [ ]:
temp = property[property['City/Town'].isna().values == True].astype(str)

In [ ]:
len(temp)

In [ ]:
for i in range(len(temp)):
    if temp.values[i][4] != 'nan':
        if temp.values[i][3] == 'nan':
            a = temp.values[i][4]
            temp.values[i][3] = Aus_sub[Aus_sub['suburb'].values == a].values[0][3]
    else:
        temp.values[i][3] = ''
        temp.values[i][4] = ''

In [ ]:
temp

In [ ]:
a = 'Hmas Creswell'

In [46]:
temp = aus_sub[aus_sub['state_code'] == 'NSW']

In [ ]:
temp

In [47]:
station['Train_Station'].values[0] == temp['suburb'].values[50]

False

In [48]:
len(station)

1010

In [49]:
len(temp)

5050

In [ ]:
Aus_sub.head(1)

In [ ]:
station.head(1)

In [50]:
pd.DataFrame(columns=['postcode'])

Empty DataFrame
Columns: [postcode]
Index: []

In [51]:
station = pd.concat([station, pd.DataFrame(columns=['postcode'])])

In [57]:
station.head(1)

,stop_id,state_code,Train_Station,Street_Name,Street_Type,Entrance_Type,LAT,LONG,Exit_Number,postcode
0,0,NSW,Aberdeen,Macqueen,St,Stairs,-32.1669,150.891975,NaN,852

In [52]:
station['stop_id'] = station['stop_id'].astype(int).astype(str)

In [56]:
station['postcode'][0] = aus_sub['postcode'][100]

C:\Users\Mu\Anaconda3\envs\tf2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [96]:
station

,stop_id,state_code,Train_Station,Street_Name,Street_Type,Entrance_Type,LAT,LONG,Exit_Number,postcode
0,0,NSW,Aberdeen,Macqueen,St,Stairs,-32.166900,150.891975,NaN,2336
1,1,NSW,Aberdeen,Macqueen,St,Ramp,-32.166886,150.891957,NaN,2336
2,2,NSW,Adamstown,Park,Ave,Path,-32.933706,151.720452,NaN,2289
3,3,NSW,Adamstown,St James,Rd,Stairs,-32.933414,151.720363,NaN,2289
4,4,NSW,Adamstown,St James,Rd,Ramp,-32.933402,151.720347,NaN,2289
...,...,...,...,...,...,...,...,...,...,...
1005,1005,NSW,Yennora,Nelson,Rd,Stairs,-33.864621,150.970946,NaN,
1006,1006,NSW,Yennora,Railway,St,Stairs,-33.864988,150.970808,NaN,
1007,1007,NSW,Yennora,Railway,St,Ramp,-33.865029,150.970716,NaN,
1008,1008,NSW,Yerrinbool,Old Hume,Hwy,Path,-34.371593,150.543448,NaN,
1009,1009,NSW,Zig Zag,Bells,Rd,Stairs,-33.471842,150.202119,NaN,

In [ ]:
len(aus_sub)

In [82]:
# coord = str(station['LAT'].values[0]) + ' ' + str(station['LONG'].values[0])
coord = '-35.835429 146.802861'

In [104]:
geolocator.reverse('-33.471842 150.202119').address

'Zig Zag Railway, Zig Zag Walk, Clarence, Lithgow, Lithgow City Council, 2790, Australia'

In [110]:
geolocator.reverse('-33.96949011 151.11457').address

'Roberts Lane, Hurstville, St George, Sydney, Georges River Council, 2220, Australia'

In [ ]:
from geopy.geocoders import Nominatim
geolocator = Nominatim()

for i in range(len(station)):
    coord = str(station['LAT'].values[i]) + ' ' + str(station['LONG'].values[i])
    print(i)
    station['postcode'].values[i] = geolocator.reverse(coord).address.split(',')[-2]

In [107]:
station.to_csv('NSW_Station.csv', index=False)

In [108]:
station

,stop_id,state_code,Train_Station,Street_Name,Street_Type,Entrance_Type,LAT,LONG,Exit_Number,postcode
0,0,NSW,Aberdeen,Macqueen,St,Stairs,-32.166900,150.891975,NaN,2336
1,1,NSW,Aberdeen,Macqueen,St,Ramp,-32.166886,150.891957,NaN,2336
2,2,NSW,Adamstown,Park,Ave,Path,-32.933706,151.720452,NaN,2289
3,3,NSW,Adamstown,St James,Rd,Stairs,-32.933414,151.720363,NaN,2289
4,4,NSW,Adamstown,St James,Rd,Ramp,-32.933402,151.720347,NaN,2289
...,...,...,...,...,...,...,...,...,...,...
1005,1005,NSW,Yennora,Nelson,Rd,Stairs,-33.864621,150.970946,NaN,2161
1006,1006,NSW,Yennora,Railway,St,Stairs,-33.864988,150.970808,NaN,2161
1007,1007,NSW,Yennora,Railway,St,Ramp,-33.865029,150.970716,NaN,2161
1008,1008,NSW,Yerrinbool,Old Hume,Hwy,Path,-34.371593,150.543448,NaN,2575
1009,1009,NSW,Zig Zag,Bells,Rd,Stairs,-33.471842,150.202119,NaN,2790