In [1]:
import pandas as pd
import numpy as np

In [2]:
df_pivot = pd.read_excel('South Australia_data.xlsx', sheet_name='2012-2017')
# df_pivot.head(2)

In [3]:
def date_transform(datetime):
    if datetime.month < 4:
        date = str(datetime.year) + ' Q1'
    elif datetime.month < 7:
        date = str(datetime.year) + ' Q2'
    elif datetime.month < 10:
        date = str(datetime.year) + ' Q3'
    else:
        date = str(datetime.year) + ' Q4'
    return date

In [4]:
df_pivot.drop(columns=['Offence Level 1  Description'], inplace=True)

In [5]:
df_pivot.rename(columns={'Offence Level 2 Description':'Category', 'Offence Level 3 Description':'Subcategory', 'Postcode - Incident':'postcode', 'Suburb - Incident':'suburb'}, inplace=True)

In [6]:
df_pivot['period'] = ''

In [7]:
for i in range(len(df_pivot)):
    datetime = df_pivot['Reported Date'][i]
    df_pivot['period'].values[i] = date_transform(datetime)

In [8]:
df_pivot.drop(columns=['Reported Date'], inplace=True)

In [9]:
df_pivot.drop(df_pivot[df_pivot['suburb'] == 'ADDRESS UNKNOWN'].index, inplace=True)

In [10]:
df_pivot

,suburb,postcode,Category,Subcategory,Offence Count,period
0,ABERFOYLE PARK,5159.0,ACTS INTENDED TO CAUSE INJURY,Serious Assault not resulting in injury,1,2012 Q3
1,ABERFOYLE PARK,5159.0,PROPERTY DAMAGE AND ENVIRONMENTAL,Property damage by fire or explosion,1,2012 Q3
2,ADELAIDE,5000.0,ACTS INTENDED TO CAUSE INJURY,Common Assault,4,2012 Q3
3,ADELAIDE,5000.0,ACTS INTENDED TO CAUSE INJURY,Serious Assault not resulting in injury,2,2012 Q3
4,ADELAIDE,5000.0,PROPERTY DAMAGE AND ENVIRONMENTAL,Graffiti,1,2012 Q3
...,...,...,...,...,...,...
487129,WHYALLA STUART,5608.0,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,1,2017 Q4
487130,WHYALLA STUART,5608.0,THEFT AND RELATED OFFENCES,Other theft,1,2017 Q4
487131,WINDSOR GARDENS,5087.0,ACTS INTENDED TO CAUSE INJURY,Serious Assault not resulting in injury,4,2017 Q4
487132,WOODVILLE GARDENS,5012.0,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,3,2017 Q4
487133,WOODVILLE SOUTH,5011.0,OTHER OFFENCES AGAINST THE PERSON,"Abduction, harassment and other offences",1,2017 Q4

In [11]:
df_pivot['postcode'] = df_pivot['postcode'].apply(str).map(lambda x:x.split('.')[0])

In [12]:
df_pivot = df_pivot.groupby(['suburb', 'postcode', 'Category', 'Subcategory', 'period']).sum()

In [13]:
df_pivot['year'] = ''
df_pivot['quarter'] = ''
df_pivot['state_code'] = 'SA'

In [18]:
df_pivot = df_pivot.reset_index()

In [19]:
for i in range(len(df_pivot)):
    df_pivot['year'].values[i] = df_pivot['period'].values[i].split(' ')[0]
    df_pivot['quarter'].values[i] = df_pivot['period'].values[i].split(' ')[1]

In [20]:
df_pivot.drop(columns=['period'], inplace=True)

In [21]:
df_pivot.to_csv('finished/SA.csv', index=False)